// main page
// ->light theme
$base-color-light: #2981FE;
$base-color-addition-light: #FFFFFF;

$font-color-text1-light: #FFFFFF;
$font-color-text2-light: #474747;

$button-color-light: #FFF72C;
$button-hover-color-light: #ebe30d;

// ->dark theme
$base-color-dark: #12315E;
$base-color-addition-dark: #1E5E7C;

$font-color-text1-dark: #C4C4C4;
$font-color-text2-dark: #12315D;

$button-color-dark: #BF4D0D;
$button-hover-color-dark: #c26834;
// end main page