@font-face {
  font-family: 'AmaticSC Bold';
  src: url('../src/assets/fonts/AmaticSC-Bold.ttf'); 
}

@font-face {
  font-family: 'AmaticSC Regular';
  src: url('../src/assets/fonts/AmaticSC-Regular.ttf'); 
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../src/assets/fonts/MontserratAlternates-Bold.ttf');
  font-weight: 700; 
}

@font-face {
  font-family: 'Barlow';
  src: url('../src/assets/fonts/Barlow-Regular.ttf');
  font-weight: 400; 
}

@font-face {
  font-family: 'Barlow';
  src: url('../src/assets/fonts/Barlow-BoldItalic.ttf');
  font-weight: 700; 
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src: url('../src/assets/fonts/Barlow-Bold.ttf');
  font-weight: 700; 
}