@font-face {
  font-family: 'AmaticSC Bold';
  src: url('../src/assets/fonts/AmaticSC-Bold.ttf'); 
}

@font-face {
  font-family: 'AmaticSC Regular';
  src: url('../src/assets/fonts/AmaticSC-Regular.ttf'); 
}