@import './fonts.scss';
@import './constants.scss';
@import './mixin.scss';

.gun-wrapper{
  background-color: #000;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-mobile {
    align-items: start;
  }

  .back-btn {
    position: absolute;
    top: 5%;
    left: 5%;
    background: url("./assets/img/backBtn.png") center center no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 20px #ffffff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    transition: transform 0.1s linear;
    z-index: 99;
    &:hover {
      transform: scale(1.1);
    }
    @include media-mobile {
      width: 45px;
      height: 45px;
    }
  }

  .bgr-wrapper {
    background: url("./assets/img/bgr-dark.png") center bottom no-repeat;
    background-size: 100% 100%;
    width: $gun-wrap-width;
    height: calc($gun-wrap-width/1.428);
    position: relative;
    overflow: hidden;
    @include media-desktop {
      width: $gun-wrap-width-1199;
      height: calc($gun-wrap-width-1199/1.428);
    }
    @include media-mobile {
      margin-top: 25vh;
    }
  }
  .menu{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    z-index: 10;

    .game_caption{
      width: 100%;
      height: 15%;
      margin-top: 5%;
      text-align: center;
      font-family: '8BIT';
      font-size: 6vw;
      font-weight: 600;
      color: #fff;
      user-select: none;
      margin-bottom: 10%;
      @include media-desktop {
        margin-bottom: 0;
      }
    }
    
    .game_result {
      margin-top: 10%;
      margin-left: 6%;

      .result_line {
        width: 100%;
        display: flex;
        font-family: '8BIT';
        font-size: 2.3vw;
        color: #fff;
        margin-bottom: 1vw;

        .caption {
          width: 50%;
          text-align: right;
          padding-right: 1%;
          user-select: none;
        }

        .value{
          width: 50%;
          padding-left: 1%;
          user-select: none;
        }
      }
    }

    .game_controls{
      width: 100%;
      height: 55%;
      display: flex;
      justify-content: center;
      align-items: center;

      .controls_start-btn {
        background: url("./assets/img/btn.png") center center no-repeat;
        background-size: cover;
        box-shadow: 0px 0px 20px #ffffff;
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
        transition: transform 0.1s linear;

        &:hover {
          transform: scale(1.1);
        }
      }

      .controls_restart-btn {
        background: url("./assets/img/reset.png") center center no-repeat;
        background-size: cover;
        width: 6vw;
        height: 6vw;
        margin-top: -10vw;
        transition: transform 0.1s linear;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .control_lang,
  .control_sound{
    position: absolute;
    z-index: 9;
    width: 4%;
    height: 6.5%;
    border-radius: 5px;
    font-family: '8BIT';
    font-size: 0.8vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s all;
      &:hover{
        width: 4.5%;
        height: 7%;
      }
      @include media-desktop {
        font-size: 1.5vw;
      } 
  }
  .control_sound{
    font-size: 1.5vw;
  }
  .control_lang{
    background: #000;
    background-size: cover;
    bottom: 4%;
    left: 12%;
  }
  .control_sound{
    background: #000;
    bottom: 4%;
    right: 12%;
  }

  .shooter1-wrap, .shooter2-wrap, .shooter3-wrap, .shooter4-wrap{
    position: absolute;
    width: 15%;
    height: 20%;
    padding: 1px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateX(90deg);
    transition: transform 0.8s;
      &.go {
        transform: rotateX(0deg);
      }

    .word {
      width: 100%;
      height: 20%;
      color: #fff;
      font-family: "8BIT";
      font-style: normal;
      font-weight: 400;
      font-size: 0.8vw;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s;
      @include media-desktop {
        font-size: 1.3vw;
      } 
    }
  
    .shooter1-bgr, .shooter2-bgr, .shooter3-bgr, .shooter4-bgr {
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotateX(0deg);
      transition: all 0.4s;
    }
  }

  .shooter1-wrap {
    bottom: 66.5%;
    left: 25%;

    .shooter1-bgr {
      background: url("./assets/img/gun1.png") center bottom no-repeat;
      background-size: contain;
    }
  }

  .shooter2-wrap {
    bottom: 66.5%;
    left: 60%;
    .shooter2-bgr {
      background: url("./assets/img/gun2.png") center bottom no-repeat;
      background-size: contain;
    }
  }

  .shooter3-wrap {
    bottom: 33.5%;
    left: 25%;
    .shooter3-bgr {
      background: url("./assets/img/gun3.png") center bottom no-repeat;
      background-size: contain;
    }
  }

  .shooter4-wrap {
    bottom: 33.5%;
    left: 60%;
    .shooter4-bgr {
      background: url("./assets/img/gun1.png") center bottom no-repeat;
      background-size: contain;
    }
  }

  .stats_level,
  .stats_score,
  .stats_accuracy,
  .stats_time {
    position: absolute;
    width: 16%;
    height: 7.5%;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    .label {
      height: 100%;
      font-family: '8BIT';
      font-size: 0.8vw;
      user-select: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 0.1vw;
      @include media-desktop {
        font-size: 1.5vw;
      } 
    }

    .value {
      height: 100%;
      font-family: '8BIT';
      font-size: 0.8vw;
      user-select: none;
      padding-bottom: 0.1vw;;
      @include media-desktop {
        font-size: 1.5vw;
      } 
    }
  }

  .stats_score{
    left: 19%;
    bottom: 9.5%;
  }

  .stats_accuracy{
    left: 65%;
    bottom: 9.5%;
  }

  .stats_time, .stats_level{
    flex-direction: row;
    left: 42%;
    .value {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .stats_time{
    bottom: 8.5%;
  }

  .stats_level{
    bottom: 13%;
  }
}
  

