@import './mixin.scss';

.main {
  width: 100%;
  height: 200vh;

  .main_wrapper {
    width: 1440px;
    margin: 0 auto;
    background-color: #FFFFFF;

    .block_typig-faster {
      width: 100%;
      background-color: #2981FE;

      .block_wrapper {
        box-sizing: border-box;
        width: 100%;
        min-height: 500px;
        padding: 0 160px;

        display: flex;
        align-items: stretch;
        
        .typig-faster__left-col {
          width: 60%;
  
          .left-col__caption {
            padding-top: 8vh;

            .text {
              @include caption-text;
              
              color: #FFFFFF;
            }
          }
  
          .left-col__text {
            padding-top: 2.9vh;
            width: 90%;
  
            .text {
              @include normal-text;
              color: #FFFFFF;

              span {
                font-weight: 700;
                font-style: italic;
              }
            }
          }
  
          .left-col__button{
            padding-top: 5vh;
  
            .button {
              width: 202px;
              height: 50px;
              
              @include yellow-utton;
            }
          }
        }
  
        .typig-faster__right-col {
          width: 40%;
  
          .image {
            width: 100%;
            height: 100%;
  
            margin-top: -28%;
          }
        }
      }
    }

    .block_proposales {
      width: 100%;
      min-height: 1614px;
      overflow: hidden;
      position: relative;

      .ellipse1 {
        width: 40%;
        aspect-ratio: 1 / 1;
        background: rgba(133, 167, 255, 0.8);
        filter: blur(250px);
        position: absolute;
        left: -2%;
        top: -5%;
      }

      .ellipse2 {
        width: 40%;
        aspect-ratio: 1 / 1;
        background: rgba(133, 167, 255, 0.9);
        filter: blur(250px);
        position: absolute;
        right: -5%;
        bottom: 8%;
        z-index: 5;
      }

      .block_wrapper {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 0 160px;

        min-height: 1614px; //test

        padding-top: 7.8%;
        position: relative;

        .proposales__card {
          width: 100%;
          min-height: 300px;

          display: flex;
          align-items: stretch;

          .card__left {
            width: 35%;

            .card__image {
              width: 96%;
              height: 99%;
            }
          }

          .card__right {
            width: 65%;

            .card__context {
              .card__context-caption {
                @include caption-text;

                margin-top: 3.8vw;
                font-size: 33px;
                line-height: 40px;
                color: #474747;
              }

              .card__context-text {
                width: 90%;

                @include normal-text;
                
                color: #474747;
              }

              .card__context-link {
                margin-top: 1.5vw;

                .context-link__button {
                  @include normal-text;
                  
                  color: #2981FE;
                  display: flex;
                  user-select: none;
                  cursor: pointer;

                  &::after {
                    content: '->';

                    box-sizing:border-box;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    width: 54px;
                    height: 25px;

                    margin: 0 16px;
                    padding-right: 8px;

                    border: 1.5px solid #2981FE;
                    border-radius: 40px;

                    @keyframes go-left-right {
                      from { padding-right: 8px; }
                      to { padding-right: 25px; } 
                    }
                  }

                  &:hover {
                    &::after {
                      animation: go-left-right 1s infinite alternate;
                    }
                  }

                }
              }
            }
          }
        }
      }
    }

    .registration{
      width: 84%;
      min-height: 278px;
      margin: 0 auto;
      margin-top: 7vw;
      left: 253px;
      top: 1860px;

      background: #2981FE;
      border-radius: 100px;

      display: flex;
      flex-direction: column;
      align-items: center;

      .registration-caption {
        margin-top: 3vw;
        font-family: 'Montserrat Alternates';
        font-weight: 700;
        font-size: 33px;
        line-height: 40px;
        text-transform: uppercase;

        color: #FFFFFF;
      }

      .registration-text{
        @include normal-text;

        text-align: center;
        color: #FFFFFF;
      }

      .registration-button{
        width: 202px;
        height: 50px;

        margin-top: 1.5vw;

        @include yellow-utton;
      }
    }
  }
}