.header__modal {
  .signup_modal__wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center; 
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 0;
    overflow: hidden;
    z-index: 5;
    background-color: rgba($color: #000000, $alpha: 0.6);

    .signup__window {
      position: relative;
      z-index: 10;
      background-color: $base-color-addition-light;
      width: 460px;
      max-width: 90%;
      border-radius: 10px;
      overflow: hidden;

      p {
        @include caption-text;
        font-size: 26px;
        line-height: 26px;
        text-align: center;
        color: $font-color-text2-light;
        user-select: none;
      }

      .input__form {
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        .input__label {
          color: $font-color-text2-light;
          padding-left: 30px;
          padding-top: 10px;
          font-size: 16px;
        }

        input {
          font-family: 'Inter';
          font-size: 12px;
          outline: none;
        }

        .input__name,
        .input__password {
          color: $font-color-text2-light;
          margin: 10px;
          margin-top: 12px;
          margin-left: 30px;
          width: 85%;
          height: 35px;
          border: 1px solid #c7d0d2;
          border-radius: 2px;
          box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
          transition: all .4s ease;
        }

        .input__password-error,
        .input__name-error,
        .registration__error {
          @include normal-text;
          margin-top: -10px;
          font-size: 12px;
          text-align: center;
          color: red;
          line-height: 18px;
          display: none;
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 0px;

          &.visible {
            display: block;
          }

          &.successful {
            color: green;
          }
        }

        .input__name:hover,
        .input__password:hover {
          border: 1px solid #b6bfc0;
          box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
        }

        .input__name:focus,
        .input__password:focus {
          border: 1px solid #a8c9e4;
          box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
        }

        .go-reg_btn {
          @include normal-text;
          margin-top: 10px;
          font-size: 12px;
          color: $base-color-light;
          text-decoration: underline;
          text-align: center;
          user-select: none;
          cursor: pointer;
        }

        .bottom__line {
          background: #ecf2f5;
          width: 100%;
          height: 69px;
          margin-top: 10px;
          box-shadow: inset 0 1px 1px #fff;
          border-top: 1px solid #ccc;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;

          .auth-btn {
            float: right;
            padding: 0 10px;
            height: 36px;
            margin-right: 32px;
            margin-top: 15px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: #FFFFFF;
            border: none;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $base-footer-gradient-color2-light;
            cursor: pointer;
            user-select: none;
          }

          .auth-btn:hover,
          .auth-btn:active {
            background-color: $base-footer-gradient-color1-light;
          }
        }
      }
    }
  }

  &.dark{
    &.dark{
      .signup_modal__wrapper{  
        .signup__window {
          background-color: $base-color-addition-dark;
    
          p {
            color: $font-color-text1-dark;
          }
    
          .input__form {
            .input__label {
              color: $font-color-text1-dark;
            }
    
            input {
              font-family: 'Inter';
              font-size: 12px;
              outline: none;
              background-color: $base-color-addition-dark;
              box-shadow: inset 0 1.5px 3px rgba($base-color-dark, .9), 0 0 0 3px $base-color-dark;
            }
    
            .input__name,
            .input__password {
              color: $font-color-text1-dark;
            }
    
            .input__password-error,
            .input__name-error,
            .registration__error {
              color: rgb(244 108 108);

              &.successful {
                color: rgb(15, 209, 15);
              }
            }
    
            .input__name:hover,
            .input__password:hover {
              border: 1px solid #b6bfc0;
              box-shadow: inset 0 1.5px 3px rgba($base-color-addition-dark, .7), 0 0 0 3px $button-hover-color-dark;
            }
    
            .input__name:focus,
            .input__password:focus {
              border: 1px solid #a8c9e4;
              box-shadow: inset 0 1.5px 3px rgba($base-color-addition-dark, .4), 0 0 0 3px $button-hover-color-dark;
            }
    
            .go-reg_btn {
              color: $base-color-light;
            }
    
            .bottom__line {
              background: $base-color-dark;
              box-shadow: inset 0 1px 1px $font-color-text2-dark;
              border-top: 1px solid $font-color-text2-dark;
  
              .auth-btn {
                color: $font-color-text1-dark;
                background-color: $button-color-dark;
              }
    
              .auth-btn:hover,
              .auth-btn:active {
                background-color: $button-hover-color-dark;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 500px) { 
  .header__modal {
    .signup_modal__wrapper{
      .signup__window {
        .input__form {
          .input__name,
          .input__password {
            width: 80%; 
          }
        }
      }
    }
  }
}