@import './mixin.scss';
@import './constants.scss';

h2 {
  @include caption-text;
}

h3 {
  @include normal-text;
  color: $font-color-text2-light;
}

.main {
  @include main-height;

  .wrapper {

    & * {
      box-sizing: border-box;
    }

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    padding: 20px 11vw;
    margin: 0;
    flex-direction: column;
    box-sizing: border-box;
  }

  & .training__title {
    text-align: left;
    @include caption-text;
    font-size: 24px;
    color: $font-color-text2-light;
    // padding: 0 11vw;
  }

  // background: linear-gradient($base-color-light, 5%, $base-color-addition-light);

  .select {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
    justify-content: space-around;
    align-items: center;
  }

  .training__select {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 40%;
    max-width: 500px;
    min-width: 200px;

    border: $font-color-text2-light 2px solid;
    border-radius: 25px;

    // background-color: $base-color-addition-light;

    &:hover {
      cursor: pointer;
      color: $base-color-light;
      border: $base-color-light 2px solid;
    }

    & img {
      display: flex;
      width: 90%;
      height: 90%;
      padding: 10px;
    // max-height: 30vh;
    }

    // & h3 {
    //   @include normal-text;
    //   font-size: 18px;
    // }
  }

  .training__levels {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  &.dark {
    // background: linear-gradient($base-color-dark, $footer-background-dark);
    background-color: $base-color-addition-dark;

    & .training__title {
      text-align: left;
      @include caption-text;
      font-size: 24px;
      color: $font-color-text1-dark;
    }
    & .training__select {
      background-color: $base-color-addition-dark;
    }
    & .select__title{
      color: $font-color-text1-dark;
    }
    & .training__select:hover {
      color: $button-color-dark;
    }
  }

}
