@import './mixin.scss';
@import './constants.scss';

h2 {
  @include caption-text;
}

h3 {
  @include normal-text;
  color: $font-color-text2-light;
}

.main {
  // width: 100%;
  // justify-content: space-between;
  // flex-direction: column;
  // margin: 0 auto;
  .wrapper__training {
    display: flex;
    width: 100%;
    min-height: $min-main-height;

    max-width: 1440px;
    margin: 0 auto;
    flex-direction: column;
  }

  & h2 {
    text-align: left;
    @include caption-text;
    font-size: 24px;
    color: $font-color-text2-light;
    padding: 0 11vw;
  }

  background: linear-gradient($base-color-light, 5%, $base-color-addition-light);

  .select {
    display: flex;

    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }

  .training__select {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 45%;
    max-width: 500px;

    border: $base-color-light 2px solid;
    border-radius: 15px;

    background-color: $base-color-addition-light;

    &:hover {
      cursor: pointer;
      color: $base-color-light;
    }

    & img {
      display: flex;
      width: 90%;
      height: 90%;
      padding: 10px;
    }

    & h3 {
      @include normal-text;
      font-size: 18px;
    }
  }

  .training__levels {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  &.dark {
    background: linear-gradient($base-color-dark, $footer-background-dark);

    & h2 {
      text-align: left;
      @include caption-text;
      font-size: 24px;
      color: $font-color-text1-dark;
    }
    & .training__select {
      background-color: $base-color-addition-dark;
    }
    & h3{
      color: $font-color-text1-dark;
    }
    & .training__select:hover {
      color: $button-color-dark;
    }
  }

}
