@import './mixin.scss';
@import './constants.scss';

.main {
  width: 100%;
  margin: 0 auto;
  //background-color: $footer-background-light;

  .wrapper {
    box-sizing: border-box;
    width: 1440px;
    height: calc(100vh - 300px);
    margin: 0 auto;
    min-height: 150px;
    padding: 0 160px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .training__title {
      width: 100%;
      height: 20%;
      margin: 0;
      @include caption-text;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $font-color-text2-light;
    }
  
    .select {
      display: flex;
      flex-wrap: wrap;
  
      gap: 5%;
      justify-content: center;
      align-items: flex-start;
  
      width: 100%;
      height: 80%;
  
      .training__select {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 32%;
        aspect-ratio: 1;
        max-width: 500px;
        min-width: 250px;
    
        border: $font-color-text2-light 2px solid;
        border-radius: 25px;

        box-shadow: 2px 2px 16px 3px rgb(0 0 0 / 75%);

        overflow: hidden;

        .select__title {
          width: 100%;
          height: 20%;
          margin: 0;
          backdrop-filter: blur(10px);
          font-family: 'Inter';
          font-size: 20px;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;

          color: $font-color-text2-light;

          transition: height 0.4s ease-in-out;
        }
    
        &:hover {
          cursor: pointer;
          color: $base-color-light;
          border: $base-color-light 2px solid;
          
          box-shadow: 2px 2px 16px 3px $base-color-light;

          .select__title {
            height: 100%;
          }
        }
      }
    }
  }

  &.dark {
    background-color: $base-color-addition-dark;

    & .training__title {
      text-align: left;
      @include caption-text;
      font-size: 24px;
      color: $font-color-text1-dark;
    }
    & .training__select {
      background-color: $base-color-addition-dark;
    }
    & .select__title{
      color: $font-color-text1-dark;
    }
    & .training__select:hover {
      color: $button-color-dark;
    }
  }
}


@media (min-width: 320px) and (max-width: 1440px) { 
  .main {
    width: 100%;
    background-color: $base-color-addition-light;
  
    .wrapper {
      box-sizing: border-box;
      width: auto;
      max-width: 1440px;
      padding: 0 11vw;
      height: auto;
      min-height: calc(100vh - 300px);

      .training__title {
        padding: 5% 0;
      }

      .select{
        .training__select {
          margin: 4% 0;
        }
      }

    }
  }
}